/* Estilo para toda página */
* {
    padding: 0;
    margin: 0;
}

/* Para o Menu */
a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.3rem;
}


ul {
    margin-left: 10px;
    display: flex;
    list-style: none;
}

li {
    margin-top: 8px;
    padding: 10px;
    font-size: 1.3rem;
}

.logo {
    width: 150px;
}

.menu {
    width: 100%;
    color: #f0f0f0;
    background-color: #19242F;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 50px;
    display: flex;
}

.user{
    position: absolute;
    right: 30px;
}